@page "/my-tickets"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using blazorTickets.Data
@using blazorTickets.Services
@using blazorTickets.Models
@inject TicketService TicketService
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@attribute [Authorize]
<PageTitle>My Tickets</PageTitle>

<h3>Open Tickets</h3>
@if (openTickets == null)
{
    <p>Loading open tickets...</p>
}
else if (openTickets.Count == 0)
{
    <p>No open tickets available.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in openTickets)
            {
                <tr class="@GetSeverityClass(ticket.Severity)">
                    <td>@ticket.Id</td>
                    <td class="ticket-title">@ticket.Title</td>
                    <td class="ticket-description">@ticket.Description</td>
                    <td>@ticket.Severity</td>
                    <td>@ticket.CreatedAt.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Closed Tickets</h3>
@if (closedTickets == null)
{
    <p>Loading closed tickets...</p>
}
else if (closedTickets.Count == 0)
{
    <p>No open tickets available.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Severity</th>
                <th>Created At</th>
                <th>Resolved At</th>
                <th>Resolved By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in closedTickets)
            {
                <tr class="@GetSeverityClass(ticket.Severity)">
                    <td>@ticket.Id</td>
                    <td>@ticket.Title</td>
                    <td class="ticket-description">@ticket.Description</td>
                    <td>@ticket.Severity</td>
                    <td>@ticket.CreatedAt.ToString("dd-MM-yyyy")</td>
                    <td>@ticket.ResolvedAt?.ToString("dd-MM-yyyy")</td>
                    <td>@ticket.ResolvedByName</td>
                </tr>
            }
        </tbody>
    </table>
}

<style>
    .ticket-title{
        max-width: 4rem;
        overflow-wrap: break-word;
        white-space: normal;
    }
    .ticket-description {
        max-width: 5rem;
        overflow-wrap: break-word;
        white-space: normal;
    }
    tr{
        font-size: 0.8rem;
        text-align: center;
    }
</style>

@code {
    private List<Ticket>? openTickets;
    private List<Ticket>? closedTickets;
    private ApplicationUser? User;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = await UserManager.GetUserAsync(authState.User);
        openTickets = await TicketService.GetUserOpenTicketsAsync(User);
        closedTickets = await TicketService.GetUserClosedTicketsAsync(User);
    }

    private string GetSeverityClass(string severity)
    {
        return severity switch
        {
            "Low" => "table-success",
            "Medium" => "table-warning",
            "Critical" => "table-danger",
            "High" => ""
        };
    }
}
